%section.text-content
  // My curriculum
  .section-expand#cv-expand.container.section-cv
    %a.close-button{"data-trigger" => "#cv-expand", :href => "#"}
    .image
      %img{:src => "img/face.png", :alt => ""}/
    %h2
      Do you want to
      %br/
      see more?
    %p Oh that's flattering!
    %button
      %i.fa.fa-cloud-download
      Download CV

  // Contact page
  .section-expand#contact-expand.container.section-contact
    %a.close-button{"data-trigger" => "#contact-expand", :href => "#"}
    .image
      %img{:src => "img/face.png", :alt => ""}/
    %h2
      Send me a message
    %p joaquin.lluis@gmail.com
    %button
      %i.fa.fa-cloud-download
      Send

  .container.section-content.intro-content
    .text
      %h2
        Hi! I’m Joaquín Lluis a Designer
        %sup (01)
      %p
        Im Joaquín a young digital designer from buenos aires Argentina. Currently Im working as a UI/UX designer at Restorando, the biggest dinning experience oriented website in Latin América.
        %br/
        Since 2013 i work as a teacher for the Typography essay at university of buenos aires. I invite you to take a look at all the things that i love to do, that inspires me to work hard and enjoy my life everyday.

  .container.section-content.ui-content
    .text
      %h2
        UI Design's been my life for a long time
        %sup (02)
      %p
        Since 4 years ago web design, and particularly digital user interactions, have transformed in one of my key points in my profesional life.
        %br/
        The digital world and the interaction experience with interfaces are not only enough nerdy to be my interests but also I always believe that, the future is gonna be digital!

  .container.section-content.ux-content
    .text
      %h2
        UX Design it's a way of seeing the world from a different point of view
        %sup (03)
      %p
        The incorporation of UX concepts in my profesional life its been one of the biggest milestones in my career. As a designer, its easy to think that your decisions are the result of a great analysis that you make because you think differently and creatively, but that doesn’t mean that you are doing a good job for users. Its interesting how we manage a way out of the possibility of having feedback within the process, because we assume that we are capable of figuring things out by our&nbsp;own.
        %br/
        By becoming more UX driven, I started to feel that I was finally understanding what it really means to design, not an experience for myself but for the user that’s gonna be the ones using your product.

  .container.section-content.illus-content
    .text
      %h2
        Illustration is a way to express a thought in another language
        %sup (04)
      %p
        Since I’m a child I draw, its a kind of hobbit for myself that transformed in a skill in my profesional life. I’m not an illustrator, I’m a Graphic Designer that has the ability to make some kind of cute illustrations. This difference its really important for me, an illustrator can handle many more graphical universes that I can possibly handle.
        %br/
        In a way its an ability that I don’t wanna ever stop feeding and I’m constantly forcing myself to keep estimulating, but not as a traditional illustrator, I like to mix things up with other skills that I have, like frontend coding and animation. That’s why I do a lot of illustrations mixed with UI, so that I can use together all of my skills and passions.

  .container.section-content.teach-content
    .text
      %h2
        Teaching is a way of experiencing everything you think you've learned
        %sup (05)
      %p
        In 2013 I started to teach in the cátedra Cosgaya in the essay typography in the University of Buenos Aires. Since the beginning It is one of  the biggest, yet more valuable, challenge I have in my career as a designer. Explain what you think you have learn and ask yourself about every decision you made when designing anything.
        %br/
        Not so much designers have the possibility of exploring that difficulty of entering in the metadesign. Ask yourself questions about your process to help another person achieve his best potencial, Is not only graceful but also a great way of learning more about design and yourself.

  .container.section-content.front-content
    .text
      %h2
        From the frontend that I do, to the backend (that I wish to do someday), I love the code
        %sup (06)
      %p
        First of all I'm not a real frontender. Everyday I learn new stuff about frontend I feel awful about myself. But also theres no day that I dont wanna do frontend o learn soñé thing new about it, not only for the challenge of making my design real, but for the pleasure of ensuring that is the best of my initial&nbsp;design.
        %br/
        Surrounded by developers, I love the challenge of learning from them, since the Logic of ruby on rails to the principles of mysql. Its not about learning to do what they do but understanding how it works, that i think that makes me a better designer everyday. I think that if a designer doesnt care about the basic principles of the implementation process, the design suffers of the lack of the knowledge, and that is one of the basic principles of the design process, the&nbsp;research.

  .container.section-content.music-content
    .text
      %h2
        Drums and music for me, are a way to escape of the constant all day thoughts
        %sup (07)
      %p
        Im i a musician? I really think Im not, but for me the music is a way to put away my mind from everyday thoughts, kind of a theraphy to stay sharp.
        %br/
        Play drums is a challenge of coordination, councience, consistency, learn to listen, learn to be company and find the balance between the silence and the accent that makes the rhythm in every song.
