// ANIMATIONS

//CLASSES
.fadein
  +animation(fadein 1s)
  +animation-attr

.fadeintop
  +animation(fadeintop 0.6s)
  +animation-attr

.fadeinbottom
  +animation(fadeinbottom 0.6s)
  +animation-attr

.fadeinbottom2
  +animation(fadeinbottom2 0.6s)
  +animation-attr

.scalein
  +animation(scalein 0.6s)
  +animation-attr

.appearfromleft
  +animation(appearfromleft 0.6s)
  +animation-attr

.appearfromright
  +animation(appearfromright 0.6s)
  +animation-attr

// INITIAL ANIMATIONS

+desktop
  .slider-box,
  .papers,
  .section-menu
    display: flex

// SLIDERS INFINIT ANIMATIONS
.intro-wave-hand
  +animation(intro-wave-hand 1s)
  +animation-attr-infinite
  transform-origin: 11% 73%
  -ms-transform-origin: 11% 73%
  -o-transform-origin: 11% 73%
  -moz-transform-origin: 11% 73%

.ui-mousehand
  +animation(mousehand 1s)
  +animation-attr-infinite

.illus-dribbble-ball
  +animation(dribbble-ball 2s)
  +animation-attr-infinite

.teach-wave-hand
  +animation(teach-wave-hand 2s)
  +animation-attr-infinite
  transform-origin: 1% 42%
  -ms-transform-origin: 1% 42%
  -o-transform-origin: 1% 42%
  -moz-transform-origin: 1% 42%

.front-sweat
  +animation(front-sweat 5s)
  +animation-attr-infinite

.front-lamp
  +animation(front-lamp 3s)
  +animation-attr-infinite
  transform-origin: 50% 0%
  -ms-transform-origin: 50% 0%
  -o-transform-origin: 50% 0%
  -moz-transform-origin: 50% 0%

.front-lamplight
  +animation(front-lamplight 3s)
  +animation-attr-infinite

.music-character
  +animation(music-character .5s)
  +animation-attr-infinite

.music-head
  +animation(music-head 2s)
  +animation-attr-infinite
  transform-origin: 50% 90%
  -ms-transform-origin: 50% 90%
  -o-transform-origin: 50% 90%
  -moz-transform-origin: 50% 90%

.music-tophihat
  +animation(music-tophihat .5s)
  +animation-attr-infinite

.music-crash
  +animation(music-crash .5s)
  +animation-attr-infinite
  transform-origin: 50% 0%
  -ms-transform-origin: 50% 0%
  -o-transform-origin: 50% 0%
  -moz-transform-origin: 50% 0%

.music-arm1
  +animation(music-arm1 .5s)
  +animation-attr-infinite
  transform-origin: 100% 30%
  -ms-transform-origin: 100% 30%
  -o-transform-origin: 100% 30%
  -moz-transform-origin: 100% 30%
.music-hand1
  +animation(music-hand1 .5s)
  +animation-attr-infinite
  transform-origin: 90% 70%
  -ms-transform-origin: 90% 70%
  -o-transform-origin: 90% 70%
  -moz-transform-origin: 90% 70%

.music-arm2
  +animation(music-arm2 1s)
  +animation-attr-infinite
  transform-origin: 57% 24%
  -ms-transform-origin: 57% 24%
  -o-transform-origin: 57% 24%
  -moz-transform-origin: 57% 24%
.music-hand2
  +animation(music-hand2 1s)
  +animation-attr-infinite
  transform-origin: 90% 70%
  -ms-transform-origin: 90% 70%
  -o-transform-origin: 90% 70%
  -moz-transform-origin: 90% 70%
.music-basedrum
  +animation(music-basedrum 1s)
  +animation-attr-infinite
  transform-origin: center
  -ms-transform-origin: center
  -o-transform-origin: center
  -moz-transform-origin: center

.music-snare
  +animation(music-snare 1s)
  +animation-attr-infinite
  transform-origin: center
  -ms-transform-origin: center
  -o-transform-origin: center
  -moz-transform-origin: center

+keyframes(loading-dots)
  0%
    background: rgba(255,255,255,1)
    box-shadow: 14px 0px 0px rgba(255,255,255,.3), 28px 0px 0px rgba(255,255,255,.3)
  50%
    background: rgba(255,255,255,.3)
    box-shadow: 14px 0px 0px rgba(255,255,255,1), 28px 0px 0px rgba(255,255,255,.3)
  100%
    box-shadow: 14px 0px 0px rgba(255,255,255,.3), 28px 0px 0px rgba(255,255,255,1)

+keyframes(intro-wave-hand)
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(30deg)
  100%
    transform: rotate(0deg)

+keyframes(mousehand)
  0%
    transform: translateX(0)
  30%
    transform: translateX(-10%)
  60%
    transform: translateX(10%)  
  100%
    transform: translateX(0)

+keyframes(dribbble-ball)
  0%
    transform: translateY(-20%)
  15%
    transform: translateY(0%)
  30%
    transform: translateY(-10%)
  45%
    transform: translateY(0%)
  60%
    transform: translateY(-5%)  
  65%
    transform: translateY(0)
  100%
    transform: translateY(-20%)

+keyframes(teach-wave-hand)
  0%
    transform: rotate(-10deg)
  50%
    transform: rotate(15deg)
  100%
    transform: rotate(-10deg)

+keyframes(front-sweat)
  0%
    opacity: 0
    transform: translateY(-20%)
  30%
    opacity: 1
    transform: translateY(0)
  70%
    opacity: 1
    transform: translateY(0)
  100%
    opacity: 0
    transform: translateY(20%)

+keyframes(front-lamp)
  0%
    transform: rotate(0deg)
  10%
    transform: rotate(10deg)
  30%
    transform: rotate(-10deg)
  40%
    transform: rotate(0deg)
  100%

+keyframes(front-lamplight)
  0%
    opacity: 1
  58%
    opacity: 1
  60%
    opacity: 0
  62%
    opacity: 0
  68%
    opacity: 1
  70%
    opacity: 0
  72%
    opacity: 0
  78%
    opacity: 1
  90%
    opacity: 1
  92%
    opacity: 0
  100%
    opacity: 0

+keyframes(music-tophihat)
  0%
    transform: translateY(33%)
  90%
    transform: translateY(0%)
  100%
    transform: translateY(33%)

+keyframes(music-crash)
  0%
    transform: rotate(0deg) scale(1,1)
  10%
    transform: rotate(10deg) scale(1.05,1.05)
  30%
    transform: rotate(-10deg) scale(1.05,1.05)
  40%
    transform: rotate(0deg) scale(1,1)
  100%
    transform: rotate(0deg)

+keyframes(music-character)
  0%
    transform: translateY(2%)
  90%
    transform: translateY(0%)
  100%
    transform: translateY(2%)

+keyframes(music-head)
  0%
    transform: rotate(0)
  10%
    transform: rotate(10deg)
  20%
    transform: rotate(0)
  80%
    transform: rotate(0)
  90%
    transform: rotate(-10deg)
  100%
    transform: rotate(0)

+keyframes(music-arm1)
  0%
    transform: rotate(-10deg)
  50%
    transform: rotate(15deg)
  100%
    transform: rotate(-10deg)

+keyframes(music-hand1)
  0%
    transform: rotate(20deg)
  15%
    transform: rotate(-30deg)
  100%
    transform: rotate(20deg)

+keyframes(music-arm2)
  0%
    transform: rotate(-10deg)
  15%
    transform: rotate(-35deg)
  100%
    transform: rotate(-10deg)

+keyframes(music-hand2)
  0%
    transform: rotate(20deg)
  15%
    transform: rotate(-50deg)
  100%
    transform: rotate(20deg)

+keyframes(music-snare)
  0%
    transform: scale(1,1)
  15%
    transform: scale(1,1)
  25%
    transform: scale(1.1,1.1)
  35%
    transform: scale(1,1)
  100%
    transform: scale(1,1)

+keyframes(music-basedrum)
  0%
    transform: scale(1,1)
  40%
    transform: scale(1,1)
  50%
    transform: scale(1.1,1.1)
  60%
    transform: scale(1,1)
  100%
    transform: scale(1,1)

// SCALE IN
+keyframes(scalein)
  0%
    opacity: 0
    transform: scale(0,0)
  100%
    opacity: 1
    transform: scale(1,1)

// FADE IN
+keyframes(fadein)
  0%
    opacity: 0
  100%
    opacity: 1

// FADE IN TOP
+keyframes(fadeintop)
  0%
    opacity: 0
    transform: translateY(-25%)
  100%
    opacity: 1
    transform: translateY(0)

// FADE IN BOTTOM
+keyframes(fadeinbottom)
  0%
    opacity: 0
    transform: translateY(25%)
  100%
    opacity: 1
    transform: translateY(0)

// FADE IN BOTTOM
+keyframes(fadeinbottom2)
  0% 
    display: none
    opacity: 0
    transform: translateY(80%)
  10%
    display: block
    opacity: 0
    transform: translateY(80%)
  100%
    opacity: 1
    transform: translateY(0)

// APPEAR FROM BOTTOM
+keyframes(fadeintop2)
  0%
    display: none
    opacity: 0
    transform: translateY(-80%)
  10%
    display: block
    opacity: 0
    transform: translateY(-80%)
  100%
    opacity: 1
    transform: translateY(0)

// APPEAR FROM LEFT
+keyframes(appearfromleft)
  0%
    opacity: 0
    transform: translateX(-30%)
  100%
    opacity: 1
    transform: translateX(0)

// APPEAR FROM LEFT2
+keyframes(appearfromleft2)
  0%
    display: none
    opacity: 0
    transform: translateX(-80%)
  10%
    display: block
    opacity: 0
    transform: translateX(-80%)
  100%
    opacity: 1
    transform: translateX(0)

// APPEAR FROM RIGHT
+keyframes(appearfromright)
  0%
    opacity: 0
    transform: translateX(30%)
  100%
    opacity: 1
    transform: translateX(0)

// APPEAR FROM RIGHT2
+keyframes(appearfromright2)
  0%
    display: none
    opacity: 0
    transform: translateX(80%)
  10%
    display: flex
    opacity: 0
    transform: translateX(70%)
  100%
    opacity: 1
    transform: translateX(0)

// APPEAR FROM BOTTOM
+keyframes(appearfrombottom)
  0%
    display: none
    opacity: 0
    transform: translateY(30%)
  10%
    display: block
    opacity: 0
    transform: translateY(30%)
  100%
    opacity: 1
    transform: translateY(0)

// MENU ANIMATION
+keyframes(menu-trigger1)
  0%
    transform: rotate(0)
  100%
    transform: rotate(-45deg)

+keyframes(menu-trigger2)
  0%
    transform: rotate(0)
  100%
    transform: rotate(45deg)

//PULSE
+keyframes(pulse)
  0
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)
  50%
    -webkit-transform: scale3d(1.1, 1.1, 1.1)
    transform: scale3d(1.1, 1.1, 1.1)
  100
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)

