// ANIMATIONS

// FADE IN TOP
+keyframes(fadeintop)
  0%
    opacity: 0
    transform: translateY(25%)
  100%
    opacity: 100%
    transform: translateY(0)

// APPEAR FROM LEFT
+keyframes(appearfromleft)
  0%
    transform: translateX(-100%)
  100%
    transform: translateX(0)

// APPEAR FROM BOTTOM
+keyframes(fadeinbottom)
  0%
    display: none
    opacity: 0
    transform: translateY(30%)
  10%
    display: block
    opacity: 0
    transform: translateY(30%)
  100%
    opacity: 1
    transform: translateY(0)

// MENU ANIMATION
+keyframes(menu-trigger1)
  0%
    transform: rotate(0)
  100%
    transform: rotate(-45deg)

+keyframes(menu-trigger2)
  0%
    transform: rotate(0)
  100%
    transform: rotate(45deg)

// SWAP PAPERS
+keyframes(swap-paper)
  0%
    position: relative
  45%
    position: relative
    order: -1
  50%
    position: absolute
  80%
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 3
  100%
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 3
    height: 100%

