// ANIMATIONS

// FADE IN TOP
+keyframes(fadeintop)
  0%
    opacity: 0
    transform: translateY(25%)
  100%
    opacity: 100%
    transform: translateY(0)

// APPEAR FROM LEFT
+keyframes(appearfromleft)
  0%
    transform: translateX(-100%)
  100%
    transform: translateX(0)

// APPEAR FROM BOTTOM
+keyframes(appearfrombottom)
  0%
    transform: translateY(100%)
  100%
    transform: translateY(0)

// MENU ANIMATION
+keyframes(menu-trigger1)
  0%
    transform: rotate(0)
  100%
    transform: rotate(-45deg)

+keyframes(menu-trigger2)
  0%
    transform: rotate(0)
  100%
    transform: rotate(45deg)
