// Curriculum
.cv .container
	padding: 0!important
	&:after
		display: none


.cv-wrapper
	+desktop
		padding-left: 30px

// NAVIGATION
.cv-navigation


// INTRODUCTION
.cv-introduction
	padding: 100px 0px 40px 30px
	+desktop
		padding: 100px 0px 100px 100px
.cv-introduction-title
	color: #2A3339
	font-size: 36px
	font-weight: 700
	line-height: 39px
	+desktop
		font-size: 72px
		line-height: 79px

.cv-introduction-subtitle
	color: #999
	font-size: 20px
	font-weight: 600
	line-height: 24px
	letter-spacing: 4px
	margin-top: 15px
	+desktop
		font-size: 24px
		line-height: 29px
		margin-top: 40px


// EDUCATION SKILLS

// WORK EXPERIENCE

// HOBBIES

  