
// PAPERS
.swap-paper
  position: relative
  background: #f2f2f2
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.04)
  transition: all 0.5s ease
  cursor: pointer
  overflow: hidden
  +desktop
    overflow: inherit
  &:nth-child(1)
    z-index: 3
  &:nth-child(2)
    z-index: 2
  &:nth-child(3)
    z-index: 1
  &:before
    content: ''
    position: absolute
    right: 0
    bottom: 0
    border-style: solid
    border-width: 35px 35px 0 0
    border-color: rgba(255,255,255,0.3) transparent transparent transparent
    transition: all 0.5s ease
    z-index: 2
  .container
    transition: all 0.5s ease
    padding: 30px 20px
    +desktop
      padding: 30px 35px
      height: 100%
      overflow-x: hidden
      overflow-y: auto
  +desktop
    &:hover
      .container
        transition: all 0.5s ease
        transform: scale(1.02,1.02)
      .icon
        +animation(pulse 1s)
        +animation-attr-infinite

  &:hover:before
    border-width: 45px 45px 0 0
  &:hover:after
    border-width: 0 0 45px 45px
  &:after
    content: ''
    position: absolute
    right: 0
    bottom: 0
    border-style: solid
    border-width: 0 0 35px 35px
    border-color: transparent transparent rgba(0,0,0,0.1) transparent
    transition: all 0.5s ease
    z-index: 9
  .close-button
    display: none
  &.disappear
    display: none
  &.active
    display: block
    position: relative
    top: 0
    left: 0
    width: 100%
    height: auto
    min-height: 100%
    z-index: 3
    order: -1
    cursor: auto
    transition: all 0.5s ease
    padding-top: 80px
    +desktop
      padding-top: 0
      height: 100%
      flex: 1
    .close-button
      display: block
    &:hover
      .container
        transform: scale(1,1)
      .icon
        animation: none
  h2
    font-size: 35px
    font-weight: 700
  h2, p
    text-align: left
    color: #fff
  p
    opacity: 0.5
  > p
    margin-bottom: -4px
  .icon
    float: left
    margin-right: 10px
    height: 55px
    width: 55px
    padding: 16px 0
    background: rgba(255,255,255,0.2)
    border-radius: 50%
    text-align: center
    img
      margin-top: -6px
      width: 30px
      height: 38px

// OVERFLOW GRADIENT
.overflow-gradient
  position: absolute
  -webkit-box-shadow: 0px -10px 45px 30px rgba(255,255,255,1)
  -moz-box-shadow: 0px -10px 45px 30px rgba(255,255,255,1)
  box-shadow: 0px -10px 45px 30px rgba(255,255,255,1)
  width: 100%
  height: 0px
  bottom: 0
  left: 0
  z-index: 1

// TEXT CONTENT
.text-content
  min-height: 400px
  height: 100%
  flex: 2!important
  padding: 0
  position: relative
  overflow: hidden
  background: #fff
  z-index: 1
  &:before
    border-color: #F2F2F2 transparent transparent transparent!important
  +desktop
    min-height: auto
    height: 100%

  .section-content
    overflow-x: hidden
    overflow-y: auto
    height: 100%
    display: none
    padding: 40px 20px
    background: #fff
  &.active
    padding-top: 0px
    .text-block
      display: flex
      opacity: 0
      transition: all 0.5s ease
      +animation(fadeinbottom2 0.6s)
      +animation-attr
      transform-origin: center
      animation-delay: 0.6s

.text-content-container
  flex: 2
  padding: 0 10px
  +desktop
    padding: 0 30px 0 20px
  .text-block
    display: none
    margin-top: 10px
  .image
    display: none
    flex: 1
    padding: 15px 10px 0 0
    text-align: right
    img
      border-radius: 50%
      max-width: 125px
    +desktop
      display: block
p.text
  flex: 11
  margin-top: 15px
  color: #999
  margin-bottom: 35px
  font-size: 17px
  letter-spacing: .1px
  line-height: 150%
  +desktop
    padding: 0 10px
h2.text-title
  padding-right: 30px
  color: #666
  font-size: 40px
  font-weight: 700
  +desktop
    font-size: 60px

.text-readme
  position: absolute
  bottom: 30px
  right: 30px
  font-weight: 600
  letter-spacing: 1px
  +desktop
    bottom: 60px
    right: 75px

.section-name
  display: block
  margin: 10px 0 25px 0
  padding-left: 20px
  font-size: 14px
  letter-spacing: 1px
  color: #999999
  position: relative
  font-weight: 500
  &:after
    position: absolute
    left: 0
    top: 4px
    content: ''
    width: 8px
    height: 8px
    opacity: 0.8
    border-radius: 50%
  +desktop
    margin: 0 0 25px 0