//MIXINS

=ui-colors($ui-color)
  #slider, button, footer
    background: $ui-color
  .text h2
    color: $ui-color
  .section-menu nav ul li.active
    background: darken($ui-color, 4%)
  .portfolio, .social-net ul li, .next:hover, .prev:hover, .menu-mobile li a
    background: darken($ui-color, 4%)
  .navigation-content
    background: lighten($ui-color, 3%)

$tablet-width: 768px
$desktop-width: 1024px
=tablet
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})
    @content
=desktop
  @media (min-width: #{$desktop-width})
    @content

// VARIABLES
$color-intro: #E55757
$color-ui: #77cc62
$color-ux: #ffbc00
$color-illus: #a477bc
$color-teach: #f46b18
$color-front: #59bad8
$color-music: #939393
