!!! 5
%html
  %head
    %title Joaquín Lluis - Website
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{ :http_equiv => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :charset => "UTF-8" }
    %script{:src => "js/jquery-latest.min.js"}
    %script{:src => "js/slider.js"}
    %link{:href => "https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,700", :rel => "stylesheet", :type => "text/css"}/

  %body#body.intro
    %section
      #slider.intro
        %header
          %h1.logo
            Joaquín Lluis
          %nav
            %ul
              %li
                %a{:href => "#"} Blog
              %li
                %a{:href => "#"} Curriculum
              %li
                %a{:href => "#"} Contact
        .next
        .prev
        .slide-content
          %img{:src => "img/character.svg", :alt => ""}/
        .slide-title
          %h2
            Hi! I’m a Designer
          %a{:href => "#"}
            Learn more


    %main
      .container.section-menu
        %nav
          %ul.row.flex
            %li.active
              %a{:href => "#"}Intro
            %li
              %a{:href => "#"} UI Design
            %li
              %a{:href => "#"} UX Design
            %li
              %a{:href => "#"} Illustration
            %li
              %a{:href => "#"} Teaching
            %li
              %a{:href => "#"} Frontend
            %li
              %a{:href => "#"} Music
      .container.section-content
        .row.flex
          .image
            %img{:src => "img/face.jpg", :alt => "photo of my face"}/
          .text
            %h2
              Hi! I’m Joaquín Lluis a Designer
            %h3
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              %br/
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
            %button Next section >
    %section.work
      .container
        %h2 My work as a Designer
        %p A little sneak peak of some designs that I like
      .container
        .row.flex
          %a.project{:href => "#"}
            .shot
              %img{:src => "img/face.jpg", :alt => ""}/
            .title
              %h4 Lorem ipsum dolore
              %p Lorem ipsum dolore
          %a.project{:href => "#"}
            .shot
              %img{:src => "img/face.jpg", :alt => ""}/
            .title
              %h4 Lorem ipsum dolore
              %p Lorem ipsum dolore
          %a.project{:href => "#"}
            .shot
              %img{:src => "img/face.jpg", :alt => ""}/
            .title
              %h4 Lorem ipsum dolore
              %p Lorem ipsum dolore
      .container.flex
        %button
          %i.fa.fa-dribbble
          View more on Dribbble

    %section.cv
      .container.flex.fdc
        .image
          %img{:src => "img/face.jpg", :alt => ""}/
        %h2 Do you want to see more?
        %p Here's my CV for you to download it
        %button
          %i.fa.fa-cloud-download
          Download here!


    %footer
      .container.flex
        %ul
          %li
            %a{:href => ""}
              %i.fa.fa-github
          %li
            %a{:href => ""}
              %i.fa.fa-dribbble
          %li
            %a{:href => ""}
              %i.fa.fa-instagram
        %p ©2016. All rights reserved.
        %p



