!!! 5
%html
  %head
    %title Joaquín Lluis - Website
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "font-awesome/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{ :http_equiv => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %meta{ :charset => "UTF-8" }
    %script{:src => "js/jquery-latest.min.js"}
    %script{:src => "js/slider.js"}
    //%link{:href => "https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,700", :rel => "stylesheet", :type => "text/css"}/

  %body#body.intro
    .menu-mobile
      %ul.flex
        %li
          %a{:href => "#"}
            Skills
        %li
          %a{:href => "#"}
            Menu
    .section-menu
      %nav
        %ul.flex
          %li.active
            %a{:href => "#"} Intro
          %li
            %a{:href => "#"} UI Design
          %li
            %a{:href => "#"} UX Design
          %li
            %a{:href => "#"} Illustration
          %li
            %a{:href => "#"} Teaching
          %li
            %a{:href => "#"} Frontend
          %li
            %a{:href => "#"} Music
    .main-wrapper
      // Slider section
      %section.slider-box.flex
        #slider.intro
          .next
          .prev
          .slide-content.intro-slide
            %img{:src => "slider/intro.svg", :alt => ""}/
          .slide-content.ui-slide
            %img{:src => "slider/ui.svg", :alt => ""}/
          .slide-content.ux-slide
            %img{:src => "slider/ux.svg", :alt => ""}/
          .slide-content.illus-slide
            %img{:src => "slider/illus.svg", :alt => ""}/
          .slide-content.teach-slide
            %img{:src => "slider/teach.svg", :alt => ""}/
          .slide-content.front-slide
            %img{:src => "slider/front.svg", :alt => ""}/
          .slide-content.music-slide
            %img{:src => "slider/music.svg", :alt => ""}/

          .slide-title
            %h2.intro-slide
              Hi! I’m a Designer
            %h2.ui-slide
              I live through UI Design
            %h2.ux-slide
              I think through UX Design
            %h2.illus-slide
              I have fun illustrating
            %h2.teach-slide
              I learn by teaching
            %h2.front-slide
              I enjoy coding!
            %h2.music-slide
              I have the beat in my blood
            %a{:href => "#main"}
              Learn more


      %section.content-portfolio
        %section.flex
          // Nav
          %section.navigation-content
            %nav
              %ul
                %li
                  %a{:href => "#"} Blog
                %li
                  %a{:href => "#"} Curriculum
                %li
                  %a{:href => "#"} Contact
            .social-net
              .container.flex
                %ul
                  %li
                    %a{:href => "https://github.com/joaquinlluis22"}
                      %i.fa.fa-github
                  %li
                    %a{:href => "https://dribbble.com/joaquinlluis"}
                      %i.fa.fa-dribbble
                  %li
                    %a{:href => "https://www.instagram.com/joaquinlluis/"}
                      %i.fa.fa-instagram

          // Text content
          %section.text-content
            .container.section-content.intro-content
              .text
                %h2
                  Hi! I’m Joaquín Lluis a Designer
                %h3
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %br/
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

            .container.section-content.ui-content
              .text
                %h2
                  UI Design's been my life for a long time
                %h3
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %br/
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

            .container.section-content.ux-content
              .text
                %h2
                  UX Design it's a way of seeing the world from another point of view
                %h3
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %br/
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

            .container.section-content.illus-content
              .text
                %h2
                  Illustration is a way to express a thought in another language
                %h3
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %br/
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

            .container.section-content.teach-content
              .text
                %h2
                  Teaching is a way of experiencing everything you think you've learned
                %h3
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %br/
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

            .container.section-content.front-content
              .text
                %h2
                  From the frontend that I do, to the backend (that I wish to do someday), I love the code
                %h3
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %br/
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

            .container.section-content.music-content
              .text
                %h2
                  Drums and music for me, are a way to escape of the constant all day thoughts
                %h3
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %br/
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

        %section.portfolio
          .container
            %p See my
            %h2 Portfolio
          / .container
          /   .row.flex
          /     %a.project{:href => "#"}
          /       .shot
          /         %img{:src => "img/face.png", :alt => ""}/
          /       .title
          /         %h4 Lorem ipsum dolore
          /         %p Lorem ipsum dolore
          /     %a.project{:href => "#"}
          /       .shot
          /         %img{:src => "img/face.png", :alt => ""}/
          /       .title
          /         %h4 Lorem ipsum dolore
          /         %p Lorem ipsum dolore
          /     %a.project{:href => "#"}
          /       .shot
          /         %img{:src => "img/face.png", :alt => ""}/
          /       .title
          /         %h4 Lorem ipsum dolore
          /         %p Lorem ipsum dolore
          / .container.flex
          /   %button
          /     %a{:href => "https://dribbble.com/joaquinlluis"}
          /       %i.fa.fa-dribbble
          /       View more on Dribbble


      %script
        $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
        $('html, body').animate({
        scrollTop: target.offset().top
        }, 1000);
        return false;
        }
        }
        });
        });

      / %footer
      /   .container.flex
      /     %ul
      /       %li
      /         %a{:href => "https://github.com/joaquinlluis22"}
      /           %i.fa.fa-github
      /       %li
      /         %a{:href => "https://dribbble.com/joaquinlluis"}
      /           %i.fa.fa-dribbble
      /       %li
      /         %a{:href => "https://www.instagram.com/joaquinlluis/"}
      /           %i.fa.fa-instagram



