!!! 5
%html
  %head
    %title Joaquín Lluis - Website
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "font-awesome/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{ :http_equiv => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %meta{ :charset => "UTF-8" }
    %script{:src => "js/jquery-latest.min.js"}
    %script{:src => "js/slider.js"}
    //%link{:href => "https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,700", :rel => "stylesheet", :type => "text/css"}/

  %body#body.intro
    .menu-mobile
      %ul.flex
        %li
          %a{:href => "#"}
            Skills
        %li
          %a{:href => "#"}
            Menu

    // Trabajar sobre esto, hacer que el menu mobile sea esto
    .section-menu
      %nav
        %ul.flex
          %li.active
            %a{:href => "#"} Intro
          %li
            %a{:href => "#"} UI Design
          %li
            %a{:href => "#"} UX Design
          %li
            %a{:href => "#"} Illustration
          %li
            %a{:href => "#"} Teaching
          %li
            %a{:href => "#"} Frontend
          %li
            %a{:href => "#"} Music
    .main-wrapper
      // Slider section
      %section.slider-box.flex
        #slider.intro
          .next
          .prev
          .slide-content.intro-slide
            %img{:src => "slider/intro.svg", :alt => ""}/
          .slide-content.ui-slide
            %img{:src => "slider/ui.svg", :alt => ""}/
          .slide-content.ux-slide
            %img{:src => "slider/ux.svg", :alt => ""}/
          .slide-content.illus-slide
            %img{:src => "slider/illus.svg", :alt => ""}/
          .slide-content.teach-slide
            %img{:src => "slider/teach.svg", :alt => ""}/
          .slide-content.front-slide
            %img{:src => "slider/front.svg", :alt => ""}/
          .slide-content.music-slide
            %img{:src => "slider/music.svg", :alt => ""}/

          .slide-title
            %h2.intro-slide
              Hi! I’m a Designer
            %h2.ui-slide
              I live through UI Design
            %h2.ux-slide
              I think through UX Design
            %h2.illus-slide
              I have fun illustrating
            %h2.teach-slide
              I learn by teaching
            %h2.front-slide
              I enjoy coding!
            %h2.music-slide
              I have the beat in my blood
            %a{:href => "#main"}
              Learn more


      %section.content-portfolio
        %section.flex

          .section-expand#portfolio-expand.container.section-portfolio
            %a.close-button{"data-trigger" => "#portfolio-expand", :href => "#"}
            %h2
              Portfolio
            %p A selection of my work
            .container.flex
              %button
                %a{:href => "https://dribbble.com/joaquinlluis"}
                  %i.fa.fa-dribbble
                  View more on Dribbble


          // Nav
          %section.navigation-content
            %nav
              %ul
                %li
                  %a.section-trigger{"data-trigger" => "#cv-expand", :href => "#cv-expand"} Curriculum
                %li
                  %a.section-trigger{"data-trigger" => "#contact-expand", :href => "#contact-expand"} Contact me
                %li
                  %a{:href => "https://medium.com/@joaquin.lluis"}
                    %i.fa.fa-link
                    Medium
            .social-net
              .container.flex
                %ul
                  %li
                    %a{:href => "https://github.com/joaquinlluis22"}
                      %i.fa.fa-github
                  %li
                    %a{:href => "https://dribbble.com/joaquinlluis"}
                      %i.fa.fa-dribbble
                  %li
                    %a{:href => "https://www.instagram.com/joaquinlluis/"}
                      %i.fa.fa-instagram

          // Text content
          %section.text-content
            // My curriculum
            .section-expand#cv-expand.container.section-cv
              %a.close-button{"data-trigger" => "#cv-expand", :href => "#"}
              .image
                %img{:src => "img/face.png", :alt => ""}/
              %h2
                Do you want to
                %br/
                see more?
              %p Oh that's flattering!
              %button
                %i.fa.fa-cloud-download
                Download CV

            // Contact page
            .section-expand#contact-expand.container.section-contact
              %a.close-button{"data-trigger" => "#contact-expand", :href => "#"}
              .image
                %img{:src => "img/face.png", :alt => ""}/
              %h2
                Send me a message
              %p joaquin.lluis@gmail.com
              %button
                %i.fa.fa-cloud-download
                Send

            .container.section-content.intro-content
              .text
                %h2
                  Hi! I’m Joaquín Lluis a Designer
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %br/
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

            .container.section-content.ui-content
              .text
                %h2
                  UI Design's been my life for a long time
                %p
                  Since 4 years ago web design, and particularly digital user interactions, have transformed in one of my key points in my profesional life.
                  %br/
                  The digital world and the interaction experience with interfaces are not only enough nerdy to be my interests but also I always believe that, the future is gonna be digital!

            .container.section-content.ux-content
              .text
                %h2
                  UX Design it's a way of seeing the world from another point of view
                %p
                  The incorporation of UX concepts in my profesional life its been one of the biggest milestones in my career. As a designer, its easy to think that your decisions are the result of a great analysis that you make because you think differently and creatively, but that doesn’t mean that you are doing a good job for users. Its interesting how we manage a way out of the possibility of having feedback within the process, because we assume that we are capable of figuring things out by our&nbsp;own.
                  %br/
                  By becoming more UX driven, I started to feel that I was finally understanding what it really means to design, not an experience for myself but for the user that’s gonna be the ones using your product.

            .container.section-content.illus-content
              .text
                %h2
                  Illustration is a way to express a thought in another language
                %p
                  Since I’m a child I draw, its a kind of hobbit for myself that transformed in a skill in my profesional life. I’m not an illustrator, I’m a Graphic Designer that has the ability to make some kind of cute illustrations. This difference its really important for me, an illustrator can handle many more graphical universes that I can possibly handle.
                  %br/
                  In a way its an ability that I don’t wanna ever stop feeding and I’m constantly forcing myself to keep estimulating, but not as a traditional illustrator, I like to mix things up with other skills that I have, like frontend coding and animation. That’s why I do a lot of illustrations mixed with UI, so that I can use together all of my skills and passions.

            .container.section-content.teach-content
              .text
                %h2
                  Teaching is a way of experiencing everything you think you've learned
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %br/
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

            .container.section-content.front-content
              .text
                %h2
                  From the frontend that I do, to the backend (that I wish to do someday), I love the code
                %p
                  First of all I'm not a real frontender. Everyday I learn new stuff about frontend I feel awful about myself. But also theres no day that I dont wanna do frontend o learn soñé thing new about it, not only for the challenge of making my design real, but for the pleasure of ensuring that is the best of my initial&nbsp;design.
                  %br/
                  Surrounded by developers, I love the challenge of learning from them, since the Logic of ruby on rails to the principles of mysql. Its not about learning to do what they do but understanding how it works, that i think that makes me a better designer everyday. I think that if a designer doesnt care about the basic principles of the implementation process, the design suffers of the lack of the knowledge, and that is one of the basic principles of the design process, the&nbsp;research.

            .container.section-content.music-content
              .text
                %h2
                  Drums and music for me, are a way to escape of the constant all day thoughts
                %p
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %br/
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

        %a.section-trigger{"data-trigger" => "#portfolio-expand", :href => "#portfolio-expand"}
          %section.portfolio
            .container
              %p See my
              %h2 Portfolio
          / .container
          /   .row.flex
          /     %a.project{:href => "#"}
          /       .shot
          /         %img{:src => "img/face.png", :alt => ""}/
          /       .title
          /         %h4 Lorem ipsum dolore
          /         %p Lorem ipsum dolore
          /     %a.project{:href => "#"}
          /       .shot
          /         %img{:src => "img/face.png", :alt => ""}/
          /       .title
          /         %h4 Lorem ipsum dolore
          /         %p Lorem ipsum dolore
          /     %a.project{:href => "#"}
          /       .shot
          /         %img{:src => "img/face.png", :alt => ""}/
          /       .title
          /         %h4 Lorem ipsum dolore
          /         %p Lorem ipsum dolore
          / .container.flex
          /   %button
          /     %a{:href => "https://dribbble.com/joaquinlluis"}
          /       %i.fa.fa-dribbble
          /       View more on Dribbble


      %script
        $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
        $('html, body').animate({
        scrollTop: target.offset().top
        }, 1000);
        return false;
        }
        }
        });
        });



