!!! 5
%html
  %head
    %title Joaquín Lluis - Website
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "font-awesome/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{ :http_equiv => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %meta{ :charset => "UTF-8" }
    %script{:src => "js/jquery-latest.min.js"}
    %script{:src => "js/slider.js"}
    %script{:src => "js/svg-injector.js"}
    %script{:src => "js/modal.js"}
    //%link{:href => "https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,700", :rel => "stylesheet", :type => "text/css"}/

  %body#body.intro
    .menu-mobile
      %ul.flex
        %li
          %a{:href => "#"}
            Skills
        %li
          %a{:href => "#"}
            Menu

    // Trabajar sobre esto, hacer que el menu mobile sea esto
    // MENU
    .section-menu
      %h1 logo
      %nav
        %ul.flex
          %li.active
            %a{:href => "#"} Intro
          %li
            %a{:href => "#"} UI Design
          %li
            %a{:href => "#"} UX Design
          %li
            %a{:href => "#"} Illustration
          %li
            %a{:href => "#"} Teaching
          %li
            %a{:href => "#"} Frontend
          %li
            %a{:href => "#"} Music


    .modal#project1-modal.active
      .container
        %a.close-button{"data-trigger" => "#project1-modal", :href => "#"}
        %h2 Project name
        %p Lorem ipsum
        %img{:src => "img/portfolio/proyect1-img1.png", :alt => ""}/
        %img{:src => "img/portfolio/proyect1-img1.png", :alt => ""}/
        %img{:src => "img/portfolio/proyect1-img1.png", :alt => ""}/

    .modal#project2-modal
      .container
        %a.close-button{"data-trigger" => "#project2-modal", :href => "#"}

    .modal#project3-modal
      .container
        %a.close-button{"data-trigger" => "#project3-modal", :href => "#"}

    // MAIN CONTENT
    .main-wrapper
      = partial 'slider'


      %section.content-portfolio
        %section.flex

          = partial 'portfolio'


          // Nav
          %section.navigation-content
            %nav
              %ul
                %li
                  %a.section-trigger{"data-trigger" => "#cv-expand", :href => "#cv-expand"}
                    %i.fa.fa-chevron-circle-right.fa-pull-right
                    Curriculum
                %li
                  %a.section-trigger{"data-trigger" => "#contact-expand", :href => "#contact-expand"}
                    %i.fa.fa-chevron-circle-right.fa-pull-right
                    Contact me
                %li
                  %a{:href => "https://medium.com/@joaquin.lluis"}
                    %i.fa.fa-link.fa-pull-right
                    Medium
            .social-net
              .container.flex
                %ul
                  %li
                    %a{:href => "https://github.com/joaquinlluis22"}
                      %i.fa.fa-github
                  %li
                    %a{:href => "https://dribbble.com/joaquinlluis"}
                      %i.fa.fa-dribbble
                  %li
                    %a{:href => "https://www.instagram.com/joaquinlluis/"}
                      %i.fa.fa-instagram

          // Text content
          = partial 'text-content'

        %a.section-trigger{"data-trigger" => "#portfolio-expand", :href => "#portfolio-expand"}
          %section.portfolio
            .container
              .eye
                %i.fa.fa-eye
              %p See my
              %h2 Portfolio



      %script
        $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
        $('html, body').animate({
        scrollTop: target.offset().top
        }, 1000);
        return false;
        }
        }
        });
        });
      %script
        // Elements to inject
        var mySVGsToInject = document.querySelectorAll('img.inject-me');
        // Do the injection
        SVGInjector(mySVGsToInject);



