!!!
%html
  %head
    %title StaticMatic
    = stylesheets
    %script{:src => "http://code.jquery.com/jquery-latest.min.js"}
    %script{:src => "slider.js"}

  %body

    #container.one
      %h1
      %img{:src => "img/1.svg", :alt => ""}/
    .next
    .prev
