// IMPORTS

@import "partials/variables.sass"
@import "partials/_misc.sass"
@import "partials/_header.sass"
@import "partials/_slider.sass"
@import "partials/_animations.sass"
@import "partials/_containers.sass"
@import "partials/_section-menu.sass"


// MAIN CONTENT

.content-portfolio
  display: flex
  flex-direction: column
  position: relative
  overflow: hidden
  .flex
    flex-direction: column
    +tablet
      flex-direction: row
    +desktop
      flex-direction: row

// Navigation-content
.navigation-content
  display: flex
  flex-direction: column
  justify-content: space-between
  background: #ccc
  flex: 1!important
  order: 1
  transition: all 0.5s ease
  +desktop
    +animation(appearfromleft 0.6s)
    +animation-attr
    transform-origin: center
  +tablet
    order: 0
  +desktop
    order: 0
  nav
    padding: 30px 30px 0 30px
  nav ul li
    border-bottom: 2px solid #fff
    &:first-child
      border-top: 2px solid #fff
    a
      display: block
      color: rgba(255,255,255,0.8)
      padding: 10px 5px
      transition: all 0.5s ease
      &.active, &:hover
        color: white
        padding-left: 13px
      &:hover i
        color: rgba(255,255,255,0.8)
      i
        padding-top: 3px


//SECTION EXPAND
.close-button
  position: absolute
  top: 20px
  right: 20px
  width: 40px
  height: 40px
  background: rgba(0,0,0,0.1)
  border-radius: 50%
  &:after
    content: ''
    width: 10px
    height: 10px
    top: 35%
    left: 40%
    position: absolute
    transform: rotate(45deg)
    border-bottom: 2px solid rgba(255, 255, 255, 0.8)
    border-left: 2px solid rgba(255, 255, 255, 0.8)

.section-cv, .section-contact, .section-portfolio
  position: absolute
  width: 100%
  height: 100%
  background: #fff
  padding: 30px
  top: 0
  left: 0
  z-index: 2
  text-align: center
  transition: all 0.5s ease
  transform: translateX(-100%)
  &.active
    opacity: 1
    transform: translateX(0)

// MODAL
.modal
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  background: #ccc
  color: #fff
  overflow-y: scroll
  padding: 50px 30px
  &.active
    display: block
  img
    margin: 10px 0

// CV SECTION
.section-cv
  .image img
    border-radius: 50%
    max-width: 150px
    margin: 30px 0 10px 0
  h2
    line-height: 100%
    margin-bottom: 10px
  p
    margin-bottom: 25px

// CONTACT SECTION
.section-contact
  .image img
    border-radius: 50%
    max-width: 150px
    margin: 30px 0 10px 0
  h2
    line-height: 100%
    margin-bottom: 10px
  p
    margin-bottom: 25px

// PORTFOLIO SECTION
.section-portfolio
  transform: translateY(100%)
  &.active
    transform: translateY(0%)
  .image img
    border-radius: 50%
    max-width: 150px
    margin: 30px 0 10px 0
  h2
    color: #fff
    line-height: 100%
  p
    color: #fff
    margin-bottom: 25px
    font-size: 16px

  hr
    border: none
    width: 100%
    height: 2px
    background: rgba(255,255,255,0.05)
    margin: 30px 0 35px

  .close-button
    top: 35px
    right: 35px
    &:after
      left: 35%
      top: 30%
      transform: rotate(-45deg)
      border-bottom: 2px solid #fff!important
      border-left: 2px solid #fff!important
  .container.flex
    flex-direction: column
  .dribbble
    margin: 0 auto

// PORTFOLIO

.portfolio
  background: #f2f2f2
  padding: 30px 15px
  max-height: 115px
  margin-bottom: 60px
  position: relative
  &:before
    content: ''
    position: absolute
    right: 0
    bottom: 0
    border-style: solid
    border-width: 35px 35px 0 0
    border-color: rgba(255,255,255,0.3) transparent transparent transparent
    transition: all 0.5s ease
  &:hover:before
    border-width: 45px 45px 0 0
  &:hover:after
    border-width: 0 0 45px 45px
  &:after
    content: ''
    position: absolute
    right: 0
    bottom: 0
    border-style: solid
    border-width: 0 0 35px 35px
    border-color: transparent transparent rgba(0,0,0,0.1) transparent
    transition: all 0.5s ease
  +desktop
    +animation(appearfrombottom 0.6s)
    +animation-attr
    transform-origin: center
  +desktop
    margin-bottom: 0
  h2, p
    text-align: left
    color: #fff
  .eye
    float: left
    margin-right: 10px
    height: 55px
    width: 55px
    padding: 16px 0
    background: rgba(255,255,255,0.2)
    border-radius: 50%
    text-align: center
    i
      display: block
      color: #fff
      font-size: 21px

.portfolio
  button
    background: #666!important
    margin: 40px auto 0

// PROJECT

.project
  flex: 1
  padding: 0 20px
  .shot
    width: 100%
    img
      border-radius: 50%
  .title
    width: 100%
    padding: 10px 20px
    h4
      color: #fff
      font-size: 20px
      font-weight: 500

// TEXT CONTENT
.text-content
  height: 100%
  flex: 2!important
  position: relative
  overflow: hidden
  background: #eee
  &:after
    content: ''
    position: absolute
    -webkit-box-shadow: 0px -10px 45px 30px rgba(255,255,255,1)
    -moz-box-shadow: 0px -10px 45px 30px rgba(255,255,255,1)
    box-shadow: 0px -10px 45px 30px rgba(255,255,255,1)
    width: 100%
    height: 0px
    bottom: 0
    left: 0

  .section-content
    overflow-x: hidden
    overflow-y: auto
    height: 100%
    display: none
    padding: 30px 20px
    background: #fff
    +desktop
      +animation(fadeintop 0.6s)
      +animation-attr
      transform-origin: left
      transform-style: preserve-3d

.text
  flex: 2
  padding: 0 20px
  h2
    color: #666
    sup
      color: #ccc
      font-size: 13px
      font-weight: 400
      line-height: 0
      display: inline-block

  p
    margin-top: 15px
    border-top: 1px solid #eee
    padding-top: 15px
    color: #999
    margin-bottom: 35px
    line-height: 130%



// ELEMENTS

h2
  font-size: 2rem
  line-height: 110%
  font-weight: 600


button
  font-size: 1rem
  padding: 15px 20px
  border: 0
  background: #666
  color: #fff
  border-radius: 5px
  cursor: pointer
  i
    color: rgba(0,0,0,0.2)


// UI CHANGES

.intro
  +ui-colors($color-intro)
.ui
  +ui-colors($color-ui)
.ux
  +ui-colors($color-ux)
.illus
  +ui-colors($color-illus)
.teach
  +ui-colors($color-teach)
.front
  +ui-colors($color-front)
.music
  +ui-colors($color-music)


