
.cv-wrapper
	.cv-introduction
		.cv-introduction-title
			My nãme is
			%br
			Joaquín Lluis M.
			%br
			a Digital Dēsigner
		.cv-introduction-subtitle
			From Buenos Aires
	.cv-personal-info
		.cv-first-column
			.cv-navigation
				%ul
					%li.active Personal Information
					%li Education & Skills
					%li Work Experience
					%li Hobbies
		.cv-second-column
			.cv-information
				.cv-biography
					I’m a 26 years old UX UI Designer from Buenos Aires currently working at Mercado Pago in Mercado Libre. I teach Typography in the University of Buenos Aires. I’m cofounder of an awesome subway app, Anden.
					%br
					I love coding html an css, animation, and I play drums and sing in my spare time. I´m always open for new opportunities to explode skills.
				.cv-contact
					%ul.cv-list
						%li.cv-list-item
							.cv-list-item-title
								Fullname
							.cv-list-item-description
								Joaquín Lluis Montiel
						%li.cv-list-item
							.cv-list-item-title
								Date of birth
							.cv-list-item-description
								11th April 1991
						%li.cv-list-item
							.cv-list-item-title
								Contact email
							.cv-list-item-description
								joaquin.lluis@gmail.com
						%li.cv-list-item
							.cv-list-item-title
								Website
							.cv-list-item-description
								http://www.joaquinlluis.com/
	
