
.cv-wrapper
	.cv-introduction
		.cv-introduction-title
			My nāme is
			%br
			%em
				Joaquín Lluis M.
			%br
			a Digital Dēsigner
		.cv-introduction-subtitle
			From Buenos Aires
	.cv-section.cv-personal-info
		.cv-first-column
			.cv-navigation
				%ul
					%li.active Personal Information
					%li Education & Skills
					%li Work Experience
					%li Hobbies
		.cv-second-column
			.cv-information
				.cv-biography
					I’m a 26 years old UX UI Designer from Buenos Aires currently working at Mercado Pago in Mercado Libre. I teach Typography in the University of Buenos Aires. I’m cofounder of an awesome subway app, Anden.
					%br
					%br
					I love coding html an css, animation, and I play drums and sing in my spare time. I´m always open for new opportunities to explode skills.
				.cv-contact
					%ul.cv-list
						%li.cv-list-item
							.cv-list-item-title
								Fullname
							.cv-list-item-description
								Joaquín Lluis Montiel
						%li.cv-list-item
							.cv-list-item-title
								Date of birth
							.cv-list-item-description
								11th April 1991
						%li.cv-list-item
							.cv-list-item-title
								Contact email
							.cv-list-item-description
								joaquin.lluis@gmail.com
						%li.cv-list-item
							.cv-list-item-title
								Website
							.cv-list-item-description
								http://www.joaquinlluis.com/

		.cv-separator
	.cv-section.cv-education-skills
		.cv-my-education
			.cv-uppercase-title
				MY EDUCATION
			%ul.cv-list
				%li.cv-list-item
					.cv-list-item-title
						School
					.cv-list-item-description
						San Ladislao School - 1995 - 2008
						%br
						%em Title — Comunication Art & Design
				%li.cv-list-item
					.cv-list-item-title
						Traditional Animation
					.cv-list-item-description
						Ceavao — 2005 / 2008
						%br
						%em Title — Animation Assistant
				%li.cv-list-item
					.cv-list-item-title
						College
					.cv-list-item-description
						University of Buenos Aires — 2009 / 2015
						%br
						%em Title — Graphic Designer
				%li.cv-list-item
					.cv-list-item-title
						Usability & Accesibility Diploma
					.cv-list-item-description
						UTN — 2016 / 2016
						%br
						%em Title — Usability & Accesibility Expert
		.cv-first-column
			.cv-navigation
				%ul
					%li Personal Information
					%li.active Education & Skills
					%li Work Experience
					%li Hobbies
		.cv-second-column
			.cv-my-skills
				%img.cv-my-skills-image{:src => "img/nerd.svg"}
				.cv-uppercase-title
					SOME SKILLS
				%ul.cv-list
					%li.cv-list-item
						.cv-list-item-title
							Product design
						.cv-list-item-description
							I like to mix my skills to make beatiful 
							%br
							accesible & useful digital products…
					%li.cv-list-item
						.cv-list-item-title
							Visual Design
						.cv-list-item-description
							I’m very careful with visual details, 
							%br
							I love illustration, animation & 
							%br
							micro interactions  
					%li.cv-list-item
						.cv-list-item-title
							UX Design
						.cv-list-item-description
							I’m a user first thinker. I love doing UX 
							%br
							research with users & data analysis…
					%li.cv-list-item
						.cv-list-item-title
							Frontend Development
						.cv-list-item-description
							I’m a code lover. I love putting
							%br
							my design into code and to help developers
							%br
							sort difficult visual coding issues…
					%li.cv-list-item
						.cv-list-item-title
							Languages
						.cv-list-item-description
							I speak english and of course
							%br
							I’m a native spanish speaker.

	.cv-work-experience
		.cv-work-experience-title-section.cv-section
			.cv-first-column
			.cv-second-column
				.cv-work-experience-title
					Lêt me tell
					%br
					you that I’m
					%br
					a really hãrd
					%br
					wørker
		
		.cv-my-work.cv-section
			.cv-first-column
				.cv-navigation
					%ul
						%li Personal Information
						%li Education & Skills
						%li.active Work Experience
						%li Hobbies

			.cv-second-column
				.cv-my-jobs
					.cv-uppercase-title
						HIGHLIGHTED PERSONAL WORK
					%ul.cv-list
						%li.cv-list-item
							%a{:href => "www.pickinstudio.com"}
								.cv-list-item-title
									Pickin Studio
									%span 2012 / Today
								.cv-list-item-description
									Co Founder of Pickin Design Studio
									%span www.pickinstudio.com
						%li.cv-list-item
							%a{:href => "www.catedracosgaya.com.ar"}
								.cv-list-item-title
									Cátedra Cosgaya
									%span 2013 / Today
								.cv-list-item-description
									Typography Proffesor in University of Buenos Aires
									%span www.catedracosgaya.com.ar
						%li.cv-list-item
							%a{:href => "www.andenapp.com"}
								.cv-list-item-title
									Anden app
									%span 2015 / Today
								.cv-list-item-description
									Co Founder - UX  UI Designer
									%span www.andenapp.com
					%br
					%br
					.cv-uppercase-title
						HIRED WORK
					%ul.cv-list
						%li.cv-list-item
							%a{:href => "www.raffles.com.ar"} 
								.cv-list-item-title
									Raffles
									%span 2013 / 2015
								.cv-list-item-description
									UX UI Designer & Frontend Developer
									%span www.raffles.com.ar
						%li.cv-list-item
							%a{:href => "www.restorando.com"}
								.cv-list-item-title
									Restorando
									%span 2015 / 2016
								.cv-list-item-description
									UX UI Designer
									%span www.restorando.com
						%li.cv-list-item
							%a{:href => "www.mercadolibre.com"}
								.cv-list-item-title
									Mercado Libre
									%span 2016 / Today
								.cv-list-item-description
									UX UI Designer at Mercado Pago
									%span www.mercadolibre.com
	.cv-section.cv-hobbies
		.cv-first-column
			.cv-navigation
				%ul
					%li Personal Information
					%li Education & Skills
					%li Work Experience
					%li.active Hobbies
		.cv-second-column
			.cv-my-hobbies
				.cv-uppercase-title
					NERD STUFF
				%ul.cv-list
					%li.cv-list-item
						.cv-list-item-circle
							T
						.cv-list-item-group
							.cv-list-item-title
								Ted Talks Fan
							.cv-list-item-description
								I love watching nerd videos about 
								%br
								science & nerd stuff too...
					%li.cv-list-item
						.cv-list-item-circle
							A
						.cv-list-item-group
							.cv-list-item-title
								Audiobooks of UX, Product, Tech...
							.cv-list-item-description
								I’m a total fan of audiobooks, I listen a lot 
								%br
								of product, psychology & UX related books…
					%li.cv-list-item
						.cv-list-item-circle
							G
						.cv-list-item-group
							.cv-list-item-title
								Gym & Health
							.cv-list-item-description
								I’m a big fan of gym & good food… 
								%br
								Do you even care about this? 
								%br
								I don’t know...

				.cv-my-hobbies-title
					Stüff
					%br
					I lōve tøø
				.cv-my-hobbies-subtitle
					This and that


				.cv-uppercase-title
					COOL STUFF
				%ul.cv-list
					%li.cv-list-item
						.cv-list-item-circle
							D
						.cv-list-item-group
							.cv-list-item-title
								Drumming
							.cv-list-item-description
								I play drums since I was 17.
								%br
								Music is my main way of de-stress.
					%li.cv-list-item
						.cv-list-item-circle
							P
						.cv-list-item-group
							.cv-list-item-title
								Photography
							.cv-list-item-description
								I love photos, probably I’m never gonna 
								%br
								become a photographer, but I enjoy 
								%br
								taking photos.
					%li.cv-list-item
						.cv-list-item-circle
							S
						.cv-list-item-group
							.cv-list-item-title
								Singing
							.cv-list-item-description
								Private learning since early 2017 
								%br
								I got a lot of progress through this year,
								%br
								It became something amazing for me 
								%br
								like drumming.

			
