.section-expand#portfolio-expand.container.section-portfolio
  %a.close-button{"data-trigger" => "#portfolio-expand", :href => "#"}
  %h2
    Portfolio
  %p A selection of my work
  .container
    %hr/
  .container
    .row.flex
      %a.project.modal-trigger{"data-trigger" => "#project1-modal", :href => "#project1-modal"}
        .shot
          %img{:src => "img/face.png", :alt => ""}/
        .title
          %h4 Lorem ipsum dolore
      %a.project.modal-trigger{"data-trigger" => "#project2-modal", :href => "#project2-modal"}
        .shot
          %img{:src => "img/face.png", :alt => ""}/
        .title
          %h4 Lorem ipsum dolore
      %a.project.modal-trigger{"data-trigger" => "#project3-modal", :href => "#project3-modal"}
        .shot
          %img{:src => "img/face.png", :alt => ""}/
        .title
          %h4 Lorem ipsum dolore

  .container.flex
    %hr/
    %button.dribbble
      %a{:href => "https://dribbble.com/joaquinlluis"}
        %i.fa.fa-dribbble
        View more on Dribbble
