%section.slider-box.flex
  #slider.intro
    .slide-content.intro-slide
      %img.inject-me{:src => "slider/intro.svg", :alt => ""}/
    .slide-content.ui-slide
      %img.inject-me{:src => "slider/ui.svg", :alt => ""}/
    .slide-content.ux-slide
      %img.inject-me{:src => "slider/ux.svg", :alt => ""}/
    .slide-content.illus-slide
      %img.inject-me{:src => "slider/illus.svg", :alt => ""}/
    .slide-content.teach-slide
      %img.inject-me{:src => "slider/teach.svg", :alt => ""}/
    .slide-content.front-slide
      %img.inject-me{:src => "slider/front.svg", :alt => ""}/
    .slide-content.music-slide
      %img.inject-me{:src => "slider/music.svg", :alt => ""}/

    .slide-title
      .next
      .prev
      %h2.intro-slide
        Hi! I’m a Designer
        %span
          Since 2011
      %h2.ui-slide
        I live through UI Design
        %span
          Since 2013
      %h2.ux-slide
        I think through UX Design
        %span
          Since 2014
      %h2.illus-slide
        I have fun illustrating
        %span
          Since ever
      %h2.teach-slide
        I learn by teaching
        %span
          Since 2013
      %h2.front-slide
        I enjoy coding!
        %span
          Since 2012
      %h2.music-slide
        I have the beat in my blood
        %span
          Since 2007
